/* Pre-Functions */
@font-face{
	font-family: Anonymous Pro, src('fonts/AnonymousPro-Regular.ttf');
}
html{
	overflow: hidden;
}
body{
	position: fixed;
	width: 1920px;
	height: 1080px;
}
.intro_body_tab div:target {
	display: block;
}
/* Intro */
#intro_body_main{
	opacity:1;
    position:fixed;
    width:1950px;
    height:1080px;
    top:0px;
    left:0px;
    z-index:1000;
	background-image: url("image/personal_background.png");
}
#main_body_main{
	opacity:1;
    position:fixed;
    width:1950px;
    height:1080px;
    top:0px;
    left:0px;
    z-index:1000;
	background-image: url("image/personal_background2.png");
	display: none;
	animation: fadeOutBG 2s linear 0s 1 normal forwards, removeContent 2s linear 0s 1 normal forwards;
}
#main_body_true{
	opacity:1;
    position:fixed;
    width:1950px;
    height:1080px;
    top:0px;
    left:0px;
    z-index:1000;
	background-image: url("image/personal_background3.png");
	display: none;
	animation: fadeInBG 2s linear 0s 1 normal forwards, addContent 2s linear 0s 1 normal forwards;
}
/* Intro Link */
#intro_body_link{
	position: relative;
    top: 47.5%;
	left: 47%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
	font-family: 'Anonymous Pro', monospace;
	color: white;
	animation: blinkTextCursor 1000ms steps(44) infinite normal;
}
#intro_body_link:active{
	text-decoration: none;
}
#intro_body_link:hover{
	text-decoration: none;
}
#intro_body_link:link{
	text-decoration: none;
}'
#intro_body_link:visited{
	text-decoration: none;
}
/* Main Link */
#main_body_link{
	position: relative;
    top: 47.5%;
	left: 48%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(0,0,0,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
	font-family: 'Anonymous Pro', monospace;
	color: black;
	animation: blinkTextCursor2 1000ms steps(44) infinite normal;
}
#main_body_link:active{
	text-decoration: none;
}
#main_body_link:hover{
	text-decoration: none;
}
#main_body_link:link{
	text-decoration: none;
}
#main_body_link:visited{
	text-decoration: none;
}
/* Gallery Link */
#main_true_gallery{
	position: relative;
    top: 90%;
	left: 44%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(0,0,0,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
	font-family: 'Anonymous Pro', monospace;
	color: white;
	animation: blinkTextCursor 1000ms steps(44) infinite normal;
}
#main_true_gallery:active{
	text-decoration: none;
}
#main_true_gallery:hover{
	text-decoration: none;
}
#main_true_gallery:link{
	text-decoration: none;
}
#main_true_gallery:visited{
	text-decoration: none;
}
/* Animation */
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
@keyframes blinkTextCursor2{
  from{border-right-color: rgba(0,0,0,.75);}
  to{border-right-color: transparent;}
}
@keyframes fadeOutBG{
  from{opacity: 1;}
  to{opacity: 0;}
}
@keyframes removeContent{
  from{display: block;}
  to{display: none;}
}
@keyframes fadeInBG{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes addContent{
  from{display: none;}
  to{display: block;}
}